{{#each genre as |gen| }}

<!-- <h2><a href="/anime/{{ani.genre}}/{{ani.name}}">{{ani.genre}}</a></h2> -->

<h1><a href="/genre/{{gen.name}}">{{gen.name}}</a></h1>
<!-- <img src="{{gen.img}}" /> -->
{{/each}}

 <div id="main">
<h2> Genre </h2>

<!-- <p> View the different types of anime below. </p>

<table border="1">
<tr class="rows">

	<td>
		<a href="/anime/action">
			<img src="http://i.imgur.com/TOfTz3v.jpg" alt="Action Genre" />
				<p class="space">Action</p>
		</a>
	</td>

	<td>
		<a href="/anime/drama">
			<img src="http://i.imgur.com/AsLEBrs.jpg" alt="Drama Genre"  />
				<p class="space">Drama</p>
		</a>
	</td>

	<td>
		<a href="/anime/comedy">
			<img src="http://i.imgur.com/igwx1N0.jpg" alt="Comedy Genre" />
				Comedy
		</a>
	</td>

</tr>

<tr class="rows">
	<td>
		<a href="/anime/horror">
			<img src="http://i.imgur.com/X7pawL9.jpg" alt="Psychological/Horror Genre" />
				Psychological/Horror
		</a>
	</td>

	<td>
		<a href="/anime/adventure">
			<img src="http://i.imgur.com/mPdQ2FD.jpgg" alt="Adventure Genre" />
				Adventure
		</a>
	</td>

	<td>
		<a href="/anime/kids">
			<img src="http://i.imgur.com/yJ77QEG.jpg" alt="Kids Genre" />
				<p class="space">Kids</p>
		</a>
	</td>

	</tr>
</table> -->

</div>
